################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Handmade Hero/.vs/Handmade Hero/v16
